## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Buraydah,SA,26.3260,43.9750,98.6,13,75,10.36,broken clouds
1,1,Huilong,CN,31.8111,121.6550,64.0,91,83,8.28,light rain
2,2,Pardina,RO,45.3064,28.9569,59.0,36,0,17.27,clear sky
3,3,Busselton,AU,-33.6500,115.3333,61.0,83,3,3.83,clear sky
4,4,Faanui,PF,-16.4833,-151.7500,80.4,67,5,4.83,clear sky

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Faanui,PF,-16.4833,-151.7500,80.40,67,5,4.83,clear sky
13,13,Saint-Philippe,RE,-21.3585,55.7679,80.60,69,75,28.77,light rain
18,18,Bathsheba,BB,13.2167,-59.5167,82.40,57,75,20.71,broken clouds
24,24,Kavieng,PG,-2.5744,150.7967,82.31,77,99,6.46,overcast clouds
28,28,Tame,CO,6.4610,-71.7300,83.12,51,97,6.64,overcast clouds
30,30,Agua Dulce,MX,18.1333,-94.1333,80.60,94,90,11.50,overcast clouds
31,31,Yokadouma,CM,3.5167,15.0500,82.71,61,100,5.95,overcast clouds
35,35,Zambezi,ZM,-13.5432,23.1047,83.97,35,69,5.48,broken clouds
43,43,Phan Thiet,VN,10.9333,108.1000,81.41,82,5,4.85,clear sky
52,52,Laem Sing,TH,12.4816,102.0738,88.00,77,86,7.38,overcast clouds

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             141
City                   141
Country                140
Lat                    141
Lng                    141
Max Temp               141
Humidity               141
Cloudiness             141
Wind Speed             141
Current Description    141
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,4,Faanui,PF,-16.4833,-151.7500,80.40,67,5,4.83,clear sky
1,13,Saint-Philippe,RE,-21.3585,55.7679,80.60,69,75,28.77,light rain
2,18,Bathsheba,BB,13.2167,-59.5167,82.40,57,75,20.71,broken clouds
3,24,Kavieng,PG,-2.5744,150.7967,82.31,77,99,6.46,overcast clouds
4,28,Tame,CO,6.4610,-71.7300,83.12,51,97,6.64,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
135,636,Caucaia,BR,-3.7361,-38.6531,84.20,74,40,9.22,scattered clouds
136,661,Ormara,PK,25.2088,64.6357,82.09,77,0,10.94,clear sky
137,665,Mangrol,IN,21.1167,70.1167,83.39,74,0,14.18,clear sky
138,672,Isabela,PH,6.7085,121.9711,82.40,78,20,5.75,few clouds
139,674,Axim,GH,4.8699,-2.2405,84.47,70,97,8.75,overcast clouds

In [30]:
# Determine if there are any empty rows.
clean_df.count()

Unnamed: 0             140
City                   140
Country                140
Lat                    140
Lng                    140
Max Temp               140
Humidity               140
Cloudiness             140
Wind Speed             140
Current Description    140
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Faanui,PF,80.40,clear sky,-16.4833,-151.7500,
13,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,
18,Bathsheba,BB,82.40,broken clouds,13.2167,-59.5167,
24,Kavieng,PG,82.31,overcast clouds,-2.5744,150.7967,
28,Tame,CO,83.12,overcast clouds,6.4610,-71.7300,
30,Agua Dulce,MX,80.60,overcast clouds,18.1333,-94.1333,
31,Yokadouma,CM,82.71,overcast clouds,3.5167,15.0500,
35,Zambezi,ZM,83.97,broken clouds,-13.5432,23.1047,
43,Phan Thiet,VN,81.41,clear sky,10.9333,108.1000,
52,Laem Sing,TH,88.00,overcast clouds,12.4816,102.0738,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [33]:
hotel_df.count()

City                   140
Country                140
Max Temp               140
Current Description    140
Lat                    140
Lng                    140
Hotel Name             140
dtype: int64

In [37]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Faanui,PF,80.40,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,Bathsheba,BB,82.40,broken clouds,13.2167,-59.5167,Atlantis Hotel
3,Kavieng,PG,82.31,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
4,Tame,CO,83.12,overcast clouds,6.4610,-71.7300,Hospedaje Santa Ana
...,...,...,...,...,...,...,...
135,Caucaia,BR,84.20,scattered clouds,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
136,Ormara,PK,82.09,clear sky,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
137,Mangrol,IN,83.39,clear sky,21.1167,70.1167,Hotel The Royal Honours
138,Isabela,PH,82.40,few clouds,6.7085,121.9711,Isawad Resort
139,Axim,GH,84.47,overcast clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA

In [39]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))